

button {
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

/* Button styles */
.btn {
    transition: 0.2s ease-in all;
    color: var(--text-lightest);
    border: none;
    outline: none;
    cursor: pointer;
}

/* Primary btn */
.primary {
    background-color: var(--primary-col);
}
.primary:hover {
    background-color: var(--primary-hover);
}

/* Secondary btn */
.secondary {
    background-color: var(--idle-col)
}
.secondary:hover {
    background-color: var(--idle-hover);
}

.active {
    background-color: var(--active-col);
}

.btn-menu {
    width: 100%;
    padding: 0.62rem;
    font-size: var(--font-sz-400);
    border-radius: var(--br-L);
}

.btn-lrg {
    padding: 0.75rem;
    font-size: var(--font-sz-500);
    border-radius: var(--br-L);
}

/* Nav buttons */

.btn-nav {
    font-size: var(--font-sz-400);
    padding: 0.62rem 1.16rem;
    border-radius: var(--br-L);
}

@media only screen and (min-width: 768px) {
    .btn-menu {
        padding: 0.69rem;
        font-size: var(--font-sz-800);

    }

    .btn-lrg {
        padding: 1rem;
        font-size: var(--font-sz-900);
        border-radius: var(--br-XL);
    }

    .btn-nav {
        padding: 0.81rem 1.75rem;
        font-size: var(--font-sz-600);
    }

}

@media only screen and (min-width: 1444px) {

}